body {
    font-family: Arial, sans-serif;
    background:black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color:rgb(0, 255, 238);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 10px 10px 10px 10px white;
    width: 500px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

form input, form button {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color:red;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border-color: black;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid black;
}

.actions button {
    background-color: black;
    border: 1px solid white;
    color: white;
    cursor: pointer;
}

.actions button:hover {
    text-decoration: underline;
}